.header {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 1.5rem;
    margin-bottom: 0.8rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Logo link styles */
.logo a {
    outline: none;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo img {
    width: auto;
    height: 3.125rem;
}

.navLinks {
    position: absolute;
    display: flex;
    gap: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Nav link styles */
.navLinks a {
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.4em 1em;
    border-radius: 6px;
    transition: background 0.2s, color 0.2s;
    display: flex;
    align-items: center;
    height: 100%;
}
.navLinks a:hover {
    color: var(--text-color-inverted);
    background: #646cff;
}
.navLink a > h3 {
    font-size: larger;
}

/* Active nav link styles */
.active,
.navLinks a.active h3 {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    color: #0078d7;
}
.navLink:hover > a.active h3 {
    color: var(--text-color-inverted);
    text-decoration: underline;
}

/* Language options */
.languageOptions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.languageOptions img {
    transition: box-shadow 0.2s, background 0.2s, transform 0.2s;
    outline: none;
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    border: 2px solid transparent;
}

.languageOptions .activeLang,
.languageOptions img:focus {
    border: 1px solid #0078d7;  
    box-shadow: 0 0 0 4px #DCBAB5;  
    background: #f5efeed8;       
    transform: scale(1.08);
}

/* ----------- */
/* Mobile mode */
/* ----------- */
.menuButton {
    display: none;
    background: none;
    border: none;
    font-size: normal;
    cursor: pointer;
}
.menuIcon {
    display: block;
}

@media (max-width: 768px) {
    .header {
        position: relative;
    }
    .logo img {
        width: auto;
        height: 2.1875rem;
    }
    .menuButton {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .menuButton:focus {
        outline: none;
    }
    .navLinks {
        width: fit-content;
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: transparent;
        flex-direction: row;
        z-index: 2;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        gap: 1rem;
        padding: 0;
        border-radius: 8px;
    }
    .navLinks.open {
        display: flex;
    }
    .navLink {
        width: 100%;
        background-color: #fffefede;
        border-radius: 6px;
    }
    .navLink a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        text-align: center;
    }
    .navLink h3 {
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        white-space: nowrap;
    }
}